# Build / cachés
dist/
.parcel-cache/
.cache/
.cache-loader/

# Dependencias
node_modules/

# Entorno
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular
.angular/
out-tsc/
coverage/
tmp/
